
    <header>
        <nav class="navbar navbar-dark bg-dark">
            <div class="container" style="height:70px;">
                <h1 class="navbar-brand" style="font-size:40px ;">Home</h1>
                <form class="form-inline" method="post" action="/logout">
                    <button class="btn btn-primary" type="submit">Log out</button>
                </form>
            </div>
        </nav>
    </header>
    <section>
        <div class="container mt-5" style="background-color: black;">
            <div class="row">
                {{#each products}}
                <div class="card mx-3 mt-5" style="width: 18rem;">
                    <img src="{{this.img}}" class="card-img-top " alt="...">
                    <div class="card-body">
                        <h5 class="card-title" style="color: black;">{{this.name}}</h5>
                        <p class="card-text" style="color: black;">{{this.description}}</p>
                        <h4 class="card-price"style="color: black;">{{this.price}}</h4>
                        <a href="#" class="btn btn-primary">ADD TO CART</a>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </section>
    <footer>
        <div class="fotter text-center mt-4" style="height:100px; background-color:black ;">
                 <button class="btn btn-primary mt-4" type="submit">Go to app</button>
        </div>
    </footer>
   